/*!Servicios*/

#servicios {
    display: grid;
    grid-template-rows: 10% 90%;
    background-color: white;
    align-items: center;
}

#box-services {

    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2%;
    border-style: solid;
    border: 2px;

}

#servicios .big-title2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 1/2;
}


.galeria {
    width: 30%;

}


.servicios .galeria .servicio {
    position: relative;
    height: 300px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    background: whitesmoke;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.servicios .galeria .servicio img {
    width: 50%;
    display: block;
    height: 50%;

}

.servicios .galeria .servicio .overLay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #0c1f54;
    text-align: center;
    background: linear-gradient(rgba(12, 31, 84, 0.8), rgba(12, 31, 84, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;

}

.servicios .galeria .servicio .overLay {
    margin-bottom: 20px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;

}

.contenido-seccion {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: space-around;
    grid-row: 2/3;
}

.servicios .galeria .servicio .overLay:hover {
    opacity: 5;
    color: white;
}

.servicio {
    height: 100%;
    width: 100%;
}
