/* @import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo:ital,wght@1,200&family=Merriweather+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Wix+Madefor+Text&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
}


#Text-contenedor-top-service {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

#Text-contenedor-top-service {
    grid-column: 2/3;
}

#imagenesQuienes #linea2 {
    width: 215%;
    height: 107%;
    position: relative;
    transform: rotateY(45deg);
    right: 11rem;
}

/*Pic*/

#imgane-contenedor-top-service {
    width: 100%;
    height: 570px;
}

#imgane-contenedor-top-service {
    grid-column: 1/2;
    grid-row: 1/1;
}

#principalImgService {
    position: relative;
    width: 63%;
    transform: translateY(114px);
}


#Contenedor-top-service {
    width: 100%;
    height: 100%;
    background-color: white;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: stretch;
    margin-bottom: 5rem;
}

.servicio p {
    font-size: medium;
    padding-left: 1rem;
    padding-right: 1rem;
}

#aboutUs hr {
    width: 20%;
}

/*
!Adaptación para pantallas
*/