/* @import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo:ital,wght@1,200&family=Merriweather+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Wix+Madefor+Text&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
}


/*
!Parte de imagenes top
*/


/* #contacted-text:hover {
    font-family: 'Merriweather Sans', sans-serif;
    color: #0c1f54;
    cursor: pointer;
} */


/* #contacted-text {
    color: red;
    font-family: 'Archivo', sans-serif;
} */



#principalImg {
    position: relative;
    width: 70%;
    height: 70%;
}

#imagenes {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Contenedor-top {

    width: 100%;
    height: 100%;
    background-color: white;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: stretch;
    margin-bottom: 2rem;


}



#Text-contenedor-top {
    grid-row: 1/2;

}


#imgane-contenedor-top {
    grid-column: 2/3;
}



/*
!Text - Left
*/


#Text-contenedor-top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}


#Text-contenedor-top .big-title {
    color: black;
    font-size: 50px;
}

/*
*LETRAS PEQUEÑAS EN PARTE IZQUIERDA  
*/
#Text-contenedor-top .lil-title {
    color: black;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    margin-top: 1px;
}

#Text-contenedor-top h1 {
    margin-left: 40px;
}

.big-title2 {
    color: #0c1f54;
    font-size: 4rem;

}

#Text-contenedor-top p {
    margin-left: 40px;
}


/*
!IMAGENES DE LA PAGINA
*/

#imgane-contenedor-top {
    width: 100%;
    /* height: 570px; */
}

#imgane-contenedor-top #mancha {
    position: static;
    width: 100%;
    height: 100%;
}

/*Servicio plantilla*/

#mancha-principal {
    /* left: 45.3rem; */
    width: 55%;
    /* bottom: 1rem; */
    height: 83%;
    position: absolute;
    pointer-events: none;
    transform: translateY(0px) scale(0.8);
    -webkit-transform: translateY(0px) scale(0.8);
    -moz-transform: translateY(0px) scale(0.8);
    -ms-transform: translateY(0px) scale(0.8);
    -o-transform: translateY(0px) scale(0.8);
}

#mancha-principal-raya {
    height: 76%;
    width: 50%;
    position: absolute;
    pointer-events: none;
}


/*
!Proyects
*/

#Proyecto_Container {

    /* background-color: #0c1f54; */
    width: 100%;
    display: grid;
    grid-template-rows: 40% 60%;
    align-items: center;
    justify-items: center;

}

/*Parte superior proyectos*/

#top_proyects {
    grid-row: 1/2;
    width: 100%;
    height: 100%;

}

#top_proyects ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}


#top_proyects p {
    text-align: center;
}

#proyect_title {
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 50px;
}

#Proyecto_cards {
    grid-row: 2/3;
    width: 90%;

}

#top_proyects>ul {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
    transition: 1s;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: space-around;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;

}

#top_proyects>ul>li>ul {
    display: none;
    color: white;
    font-family: 'Archivo', sans-serif;

}



.Card_proyect {
    margin-bottom: 10px;
    display: flex;
    background-color: white;
    flex-direction: row;
    border: 3px transparent;
    border-style: solid;
    align-items: center;

}

#text_area_Card {

    margin: 50px;
}

#text_area_Card h1 {


    margin: 50px;
}

#text_area_Card p {

    font-size: 20px;
    margin: 50px;
}

#top_proyects {
    color: white;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;

}

#containerCard {
    width: auto;
    display: flex;

}

/*!Servicios*/

#servicios {
    display: grid;
    grid-template-rows: 10% 90%;
    background-color: white;
    align-items: center;
}

#box-services {

    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 2%;
    border-style: solid;
    border: 2px;

}

#servicios .big-title2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 1/2;
}


/*!Servicios*/

.galeria {
    width: 21%;

}


.servicios .galeria .servicio {
    position: relative;
    height: 300px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    background: whitesmoke;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.servicios .galeria .servicio img {
    width: 50%;
    display: block;
    height: 50%;

}

.servicios .galeria .servicio .overLay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #0c1f54;
    text-align: center;
    background: linear-gradient(rgba(12, 31, 84, 0.8), rgba(12, 31, 84, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;

}

.servicios .galeria .servicio .overLay {
    margin-bottom: 20px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;

}

.contenido-seccion {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: space-around;
    grid-row: 2/3;
}

.servicios .galeria .servicio .overLay:hover {
    opacity: 5;
    color: white;
}

.servicio {
    height: 100%;
    width: 100%;
}

/*!Footer*/

/*Footer - Links*/
.footer-links {
    background: #08112C;
    color: white;
    font-size: 3px;
    padding: 35px 0px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*Espaciado Interno*/
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

/*Efecto de estabilidad de Columnas*/
.footer-container ul {
    margin: 0 auto;
}

.footer-container ul li {
    line-height: 2;
}

.footer {
    /*Para gornaizar el texto, interesante */
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 20px;
    text-align: center;
    padding-bottom: 20px;
}

/*Quienes somos*/

#containerUs {
    background-color: white;
    display: grid;
    grid-template-rows: 50% 50%;
    height: 1200px;
}

#quienesSomos {
    display: flex;
    grid-row: 1/2;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

#quehacemos {
    display: flex;
    grid-row: 2/3;
    flex-direction: row-reverse;
    margin: 30px;
    align-items: center;
}

#img-whoAreWe {
    width: 28%;
    height: 90%;
    position: absolute;
}


#img-whatDoUS {
    margin-left: 30px;
    position: absolute;
    height: 60%;
}

.text-quienesSomos {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.text-quienesSomos hr {
    width: 20%;
}

#Proyecto_Container hr {
    width: 10%;
}

#carrusel hr {
    width: 10%;
}

.text-queHacemos hr {
    width: 20%;
}

#servicios hr {
    width: 13%;
}


/* .text-quienesSomos .big-title2{
    text-align: left;
    width: 60%;
} */

/* .text-quienesSomos .big-title2 {
    color: #0c1f54;
    text-align: left;
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: left;
} */

#imagenesQuienes {
    width: 172%;
    height: 100%;
    position: relative;
}

#imagenesQuehacemos {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
}


#linea1 {
    height: 100%;
    width: 74%;
    transform: translateX(-440px) translateY(-21px);
    /* transform: translateY(-73px); */
    position: absolute;
}

#mancha {
    height: 108%;
    width: 124%;
    transform: translateX(-20px) translateY(-21px);
    /* transform: translateY(-73px); */
    position: absolute;
}

#mancha2 {
    height: 100%;
    /* width: 124%; */
    transform: translateX(372px) translateY(-21px);
    /* transform: translateY(-73px); */
    position: absolute;
}

#linea2 {
    position: absolute;
    height: 124%;
    margin: 0;
    transform: translateY(-20px) translateX(219px) rotateY(180deg);
}

.text-queHacemos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.text-queHacemos p {
    text-align: right;
}

/*Carrousel*/

#carrusel {
    display: flex;
    width: 70%;
    height: 50%;
    flex-direction: column;
    align-items: center;


}

#container-carusel {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: white;

}

#container-logos {
    width: 85%;
    height: 20rem;
    
}

#navBar-container p{
    font-size: 30px;
    font-family: 'Fira Sans', sans-serif;
    width: 30rem;
}

#list-logos {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 300px;
}

#list-logos p {
    color: #0C1F54;
    font-family: 'PT Sans', sans-serif;
}

#container-carusel .big-title2 {
    padding-top: 1rem;
    text-align: center;

}

#Proyecto_Container .big-title2 {
    padding-top: 1rem;
    padding-top: 1rem;
    text-align: center;
}

/*!Empresas con las que trabajamos*/


#Proyecto_Container {
    background-color: #ffffff;
}

/*!Formulario parte abajo*/

#form-container {
    background-color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 2rem;
}

#inputPlaces {
    display: flex;
    flex-direction: column;
}

#inputPlaces p {

    font-family: 'Raleway', sans-serif;
    color: #0C1F54;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

#inputPlaces h1 {


    font-family: 'Raleway', sans-serif;
    color: #0C1F54;

}

input {
    width: 80%;
    font-style: italic;
    font-variant-ligatures: normal;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: inherit;
    text-transform: capitalize;
    text-indent: 18px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: #D9D9D9;
    margin: 0em;
    padding: 2px 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border-style: hidden;
}


hr {
    margin-top: 0.2rem;
    border: 0;
    border-top: 5px solid rgb(12 31 84);
    display: flex;
    align-self: auto;

}



.contacto .col input,
.conatcto .col textarea {

    display: block;

    padding: 18px;
    border: none;
    margin-bottom: 30px;
    background-color: #252a2e;
    color: #fff;
    font-size: 18px;

    height: 100px;
    width: 80%;
}

#textArea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    height: 100%;
    width: 80%;
}

#navBar-container>ul {
    width: 100%;
    overflow: hidden;
    position: relative;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}


.footer-container>ul li {
    /* display: table-cell; */
    margin-left: 3.5%;
}

.footer-container>ul>li>ul {
    display: none;
    color: white;
    font-family: 'Raleway', sans-serif;

}

.footer-container ul {
    display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

.footer-container ul li p {

    font-size: 15px;
}



#Text-contenedor-top-service {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}

#Text-contenedor-top-service {
    grid-column: 2/3;
}

#imagenesQuienes #linea2 {
    width: 215%;
    height: 107%;
    position: relative;
    transform: rotateY(45deg);
    right: 11rem;
}

/*Pic*/

#imgane-contenedor-top-service {
    width: 100%;
    height: 570px;
}

#imgane-contenedor-top-service {
    grid-column: 1/2;
    grid-row: 1/1;
}

#principalImgService {
    position: relative;
    width: 63%;
    transform: translateY(114px);
}


#Contenedor-top-service {
    width: 100%;
    height: 100%;
    background-color: white;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: stretch;
    margin-bottom: 5rem;
}

.servicio p {
    font-size: medium;
    padding-left: 1rem;
    padding-right: 1rem;
}

#aboutUs hr {
    width: 20%;
}

/*!Estilos para cada pagina*/

#servicio-containerUs {
    background-color: white;
    display: grid;
    grid-template-rows: 50% 50%;
    height: 1200px;
}

#servicio-containerUs #quienesSomos {
    display: flex;
    grid-row: 1/2;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

#mancha-service-unidad {
    position: absolute;
    width: 57%;
    height: 96%;
    pointer-events: none;
}

#Encabezado li {
    cursor: pointer;
}

/*
!Adaptación para pantallas
*/