/*
!Quienes somos
*/

#containerUs {
    background-color: white;
    display: grid;
    grid-template-rows: 50% 50%;
    height: 1200px;
}

#quienesSomos {
    display: flex;
    grid-row: 1/2;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

#quehacemos {
    display: flex;
    grid-row: 2/3;
    flex-direction: row-reverse;
    margin: 30px;
    align-items: center;
}

#img-whoAreWe {
    width: 28%;
    height: 90%;
    position: absolute;
}


#img-whatDoUS {
    margin-left: 30px;
    position: absolute;
    height: 60%;
}

.text-quienesSomos {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.text-quienesSomos hr {
    width: 20%;
}

#Proyecto_Container hr {
    width: 10%;
}

#carrusel hr {
    width: 10%;
}

.text-queHacemos hr {
    width: 20%;
}

#servicios hr {
    width: 13%;
}


/* .text-quienesSomos .big-title2{
    text-align: left;
    width: 60%;
} */

/* .text-quienesSomos .big-title2 {
    color: #0c1f54;
    text-align: left;
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: left;
} */

#imagenesQuienes {
    width: 172%;
    height: 100%;
    position: relative;
}

#imagenesQuehacemos {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
}


#linea1 {
    height: 100%;
    width: 74%;
    transform: translateX(-440px) translateY(-21px);
    /* transform: translateY(-73px); */
    position: absolute;
}

#mancha {
    height: 108%;
    width: 124%;
    transform: translateX(-20px) translateY(-21px);
    /* transform: translateY(-73px); */
    position: absolute;
}

#mancha2 {
    height: 100%;
    /* width: 124%; */
    transform: translateX(372px) translateY(-21px);
    /* transform: translateY(-73px); */
    position: absolute;
}

#linea2 {
    position: absolute;
    height: 124%;
    margin: 0;
    transform: translateY(-20px) translateX(219px) rotateY(180deg);
}

.text-queHacemos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.text-queHacemos p {
    text-align: right;
}
